{% extends 'core/base.html' %}
{% load static %}
{% block title %}Página{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <img src="{% static 'core/img/img.png' %}" class="img-fluid"/>
      </div>
      <div class="col-md-6 mt-3">
        <h3>Pixel art</h3>
        <p>La imagen presenta un arte de píxeles con un diseño vibrante y
            detallado. Se observa una composición con colores contrastantes
            y formas bien definidas, que recuerdan el estilo clásico del pixel art.
            La disposición de los elementos sugiere una escena creativa, posiblemente
            con influencias de videojuegos retro.</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}